/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html {
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,000000+100 */
   background: #1e5799; /* Old browsers */
   background: -moz-linear-gradient(top,  #1e5799 0%, #000000 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top,  #1e5799 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom,  #1e5799 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

   height: 100%
 }

 body {

   color: #fff;

 }

 h1 {
   text-shadow: 1px 1px 3px white;
   text-align: center;
   font-family: "Lato", monospace;
   padding-right: 130px;

 }

 h3 {
   text-shadow: 1px 1px 3px black;
   text-align: center;
font-family: "Inconsolata", monospace;

 }

 .container {
   position: relative;

      padding-left: 130px;
 }

 .organ {
   position: relative;

 }

 .changer {
   float: left;
   padding-left: 100px;
 }

 .key-black {
   float: left;
   width: 36px;
   height: 128px;
   border: 1px solid #ccc;
   color: white;
   border: none;
box-shadow: 0 5px #27496d;
background: rgba(0,0,0,1);
background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%, rgba(26,26,26,1) 96%, rgba(51,51,51,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(92%, rgba(0,0,0,1)), color-stop(96%, rgba(26,26,26,1)), color-stop(100%, rgba(51,51,51,1)));
background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%, rgba(26,26,26,1) 96%, rgba(51,51,51,1) 100%);
background: -o-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%, rgba(26,26,26,1) 96%, rgba(51,51,51,1) 100%);
background: -ms-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%, rgba(26,26,26,1) 96%, rgba(51,51,51,1) 100%);
background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 92%, rgba(26,26,26,1) 96%, rgba(51,51,51,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#333333', GradientType=0 );
    border-radius: 0 0 3px 3px;
 }

 .key-white {
   float: left;
   width: 60px;
   height: 156px;
   background: linear-gradient(-30deg,#f5f5f5,#fff);
   border: 1px solid #ccc;
   color: black;
   box-shadow: 0 5px #27496d;
    border-radius: 0 0 3px 3px;
 }

 .pressed {
   background: linear-gradient(-10deg,#ffffff,#444);
   box-shadow: 0 3px #27496d;
transform: translateY(2px);
 }

 .track {

 }


.play-button.disabled {
  display: none;
}

.jukebox {
  width: 500px;
  margin-top: 40px;
  margin-left: 370px;
  position: inherit;
  float: right;
}

button {
  background: #1f9cf0;
  background-image: -webkit-linear-gradient(top, #1f9cf0, #1b9da1);
  background-image: -moz-linear-gradient(top, #1f9cf0, #1b9da1);
  background-image: -ms-linear-gradient(top, #1f9cf0, #1b9da1);
  background-image: -o-linear-gradient(top, #1f9cf0, #1b9da1);
  background-image: linear-gradient(to bottom, #1f9cf0, #1b9da1);
  -webkit-border-radius: 14;
  -moz-border-radius: 14;
  border-radius: 14px;
  text-shadow: 1px 1px 3px #666666;
  -webkit-box-shadow: 0px 0.5px 1.5px #666666;
  -moz-box-shadow: 0px 0.5px 1.5px #666666;
  box-shadow: 0px 0.5px 1.5px #666666;
  font-family: Georgia;
  color: #ffffff;
  font-size: 13px;
  padding: 6px 14px 6px 14px;
  border: solid #1f628d .5px;
  text-decoration: none;
}

button {
  background: #27678f;
  background-image: -webkit-linear-gradient(top, #27678f, #34c0d9);
  background-image: -moz-linear-gradient(top, #27678f, #34c0d9);
  background-image: -ms-linear-gradient(top, #27678f, #34c0d9);
  background-image: -o-linear-gradient(top, #27678f, #34c0d9);
  background-image: linear-gradient(to bottom, #27678f, #34c0d9);
  text-decoration: none;
}

.keys {
  clear: both;
}

.changer {

}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
